.acconcement {
    margin-bottom: 20px;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}
.acconcement div {
    grid-column: 2 / span 10;
    color: #0C509F;
    background: #E4F1FF;
    padding: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 750px) { 
    .acconcement {
        display: none;
    }
}