footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: black;
    color: white;
    justify-items: center;
    padding: 20px;
}
footer ul{
  list-style: none;
}
footer h3 {
    margin: 15px 0px 5px 0px;
}
.footer__logos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 2px solid black;
    padding: 20px;
    gap: 10px;
}
.footer__logos__Partner1 {
    grid-column-start: 5; 
    grid-column-end: 6; 
}
.footer__logos__Partner2 {
    grid-column-start: 6; 
    grid-column-end: 7; 
}
.footer__logos__Partner3 {
    grid-column-start: 7; 
     grid-column-end: 8; 
}
.footer__logos__Partner4 {
    grid-column-start: 8; 
     grid-column-end: 9; 
}
.footer__paymentDetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}
.footer__social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    background-color: rgb(38, 38, 38);
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
}
.footer__links {
    background-color: black;
    color: white;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
}
.footer__links li {
    display: inline-block;
}