.storeFront {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 40px;
    grid-template-areas: 
    ". search search display display display display display display display display .  "
    ". search search display display display display display display display display .  "
    ". search search display display display display display display display display .  "
    ". . .  display display display display display display display display .  "
    ". . . pagination pagination pagination pagination pagination pagination pagination pagination . ";
}
.storeFront__filter {
    display: grid;
    grid-area: search;
    border-right: 1px solid gray;
   
    grid-template-columns: repeat(1, 1fr);
}
.storeFront__filter button {
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: left;
    background-color: white;
    border: none;
    color: #0c509f;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}
.storeFront__filter button div {
    display: grid;
    justify-items: end;
    width: 100%;
}
.storeFront__filter h4, h3 {
    font-size: 20px;
}
.storeFront__filter h4 {
   color: #0c509f;
}
.storeFront__filter div {
    border-bottom: 1px solid black;
    padding: 10px 0px 10px 0px;
}
.storeFront__filter div:last-child {
    border-bottom: none;
}
.storeFront__filter__dropDown {
    display: grid;
}
.storeFront__filter__dropDown label {
    color: #262626;
    cursor: pointer;
}
.storeFront__filter__dropDown label  input {
    border: 1px solid  rgb(115, 115, 115);
    width: 20px;
    height: 20px;
}
.storeFront__filter__dropDown label input[type="checkbox"] {
    background-color:  rgb(12, 80, 159);
}
.storeFront__productArea {
    display: grid;
    grid-area: display;
    margin-left: 30px;
}
.storeFront__productArea__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.storeFront__productArea__filter {
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.storeFront__productArea__filter h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
.storeFront__productArea__filter h3 {
    font-size: 22px;
}
.storeFront__productArea__filter ul li {
   display: inline-block;
}
.storeFront__productArea__filter a {
    background-color: white;
    border-radius: 42px;
    padding: 10px 15px;
    color: black;
    border: 1px solid #737373;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
    text-decoration: none;
    line-height: 100px;
    margin-right: 2.5px;
}
.storeFront__productArea__pageNumber {
    margin-bottom: 40px
}
.storeFront__productArea__pageNumber p{
    color: #737373;
}
.storeFront__productArea__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.storeFront__productArea__products__product{
    display: grid;
    align-items: center; 
    justify-items: center;
}
.storeFront__productArea__products__product__description{
    max-width: 270px;
}
.storeFront__productArea__products__product img {
    cursor: pointer;
}
.storeFront__productArea__products__product__title {
    font-size: 16px;
    cursor: pointer;
}
.storeFront__productArea__products__product__stars {
    margin-bottom: 10px;;
}
.storeFront__productArea__products__product__price {
    margin-bottom: 10px;
}
.storeFront__productArea__products__product__special {
    color: red;
    margin-bottom: 10px;
}
.btn{
    border-radius: 3px;
    padding: 12px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
}
.fa-shopping-cart {
    margin-right: 10px;
}
.add{
    background-color: #008542;;
    color: white;
}
.add:hover {
    background-color: #045228;
}

.favourite{
    background-color: white;
    color: pink;
}
.storeFront__productArea__pagination {
    display: grid;
    grid-area: pagination;
 
}
.storeFront__productArea__pagination ul li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}
.storeFront__productArea__pagination ul li:hover {
    background-color: rgb(242, 242, 242);
}

@media only screen and (max-width: 1100px) { 
    .storeFront__productArea__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
} 
@media only screen and (max-width: 1200px) { 
    .storeFront { 
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
        ". search search search search search .  "
        ". display display display display display .  "
        ". display display display display display .  "
        ". pagination pagination pagination pagination pagination . ";
    }
}

@media only screen and (max-width: 750px) { 
    .storeFront__productArea__products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
}